name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # allow manually calling the action
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: 'go.mod'

    - name: golangci-lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest

    - name: Build
      run: go build -v ./...
